th {
    text-align: center;
}

.cart__img-box {
    width: 180px;
}

.cart__img-box img {
    width: 100%;
}

.cart__item-del {
    cursor: pointer;
}

.cart__page-btn button a:hover {
    color: rgb(69, 232, 238);
}

.cart__subtotal {
    color: #2063df;
    font-size: 5rem;
}

@media only screen and (max-width: 768px) {
    th,
    td {
        font-size: 0.8rem;
    }
}
